<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="pda.launchType">
<stringAttribute key="ATTR_SELECTED_DEBUG_INFO_TYPE" value="STANDALONE_DEBUG_INFO_TYPE"/>
<stringAttribute key="ATTR_SELECTED_TARGET_TYPE" value="TARGET_TYPE_SINGLE_CORE"/>
<stringAttribute key="ATTR_STANDALONE_PROJECTS" value="D:/ra207_2015/aadsp2/vezba6/multitapEcho_model3/output/standalone/multitapEcho_model3.uld,"/>
</launchConfiguration>
